body {

}

.container {
	width: none;
}

.main-content {
	width: 85%;
	float: right;
	position: relative;
	min-height: 1px;
	padding-left: 11px;
	padding-right: 15px;
}

.col-md-3.sidebar {
	width: 15%;
	background-color: #2f2f2f;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
}

.col-md-3.sidebar h3 {
	color: white;
}

.col-md-3.sidebar a {
	color: white;
	/* text-transform: uppercase; */
}

.col-md-3.sidebar a:hover {
	color: white;
	text-decoration: underline;
}

.col-md-3.sidebar ul {
	margin-top: 5px;
	list-style-type: none;
}

.col-md-3.sidebar ul.left-pad {
	padding-left: 10px;
}

.col-md-3.sidebar ul.no-pad {
	padding: 0px;
}

.col-md-3.sidebar li span {
	color: white;
}

.navbar {
	text-transform: uppercase;
	margin-bottom: 0px;
	width: 100%;
}

.navbar-inverse {
	padding-bottom: 15px;
	padding-top: 23px;
	background-color: #F77677;
	border-color: #c15c5c;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #222222;
}

.navbar-inverse .navbar-nav>.open {
	color: #F77677;
}

.navbar-brand {
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

#footer {
	background-color: #2f5c77;
	padding-top: 7px;
	padding-bottom: 5px; 
}


#footer h5 {
	color: white;
	text-transform: uppercase;
	padding: 5px;
}

.btn-primary {
	background-color: #1486CC;
	border-color: #0972B2;
}